:root {
    --primary-color: rgb(13, 110, 253);
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

#products-container div {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: 0.3s;
    overflow: hidden;
}

#products-container div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#products-container img {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
