@page
@model CartModel
@{
    ViewData["Title"] = "Your Cart";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<h1>Your Cart</h1>

<div id="cart-container">
    <!-- Cart items will be dynamically added here -->
</div>
<h2 id="total-value">Total: </h2>
<br />

<br/>
<button onclick="clearCart()" style="display: inline-block; background-color: var(--primary-color); color: white; border: none; border-radius: 8px; padding: 10px; text-align: center; cursor: pointer;">Clear Cart</button>

<script src="js/cart.js"></script> 