@page
@model CartModel
@{
    ViewData["Title"] = "Your Cart";
}

<h1>Your Cart</h1>

<div id="cart-container">
    <!-- Cart items will be dynamically added here -->
</div>

<br/>
<button onclick="clearCart()" style="display: inline-block; background-color: var(--primary-color); color: white; border: none; border-radius: 8px; padding: 10px; text-align: center; cursor: pointer;">Clear Cart</button>

<script src="js/cart.js"></script> 